---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
---

<Layout title="Astro Starter">
  <Container>

  <Header/>
  <div class="dummy">
   <h1>Page Not Built Yet</h1>
   <img src="img/wip.png" alt="A black and whtie photo of Chet, the iconic blue puppet, holding a flathead screwdriver infront of a broken Play Station 2." />
   <p>please come back later</p>
  </div>
  <Footer/>

  </Container>
  </Layout>

  <style>
    .dummy h1{
        font-size: 48px;
    }

    .dummy{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .dummy img{
        max-width: 40vw
    }
  </style>