---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import Header from "@components/Header.astro"
import Footer from "@components/Footer.astro"
---

<Layout title="Astro Starter">
  <Container>

  <Header/>
 <div class="hero">
   <h1>Michael Losquadro</h1>
  <div class="img">
    <img src="/img/michael Sticky Note 1.png" alt="Sticky Note Drawing of Michael" />
  </div>
  </div>

  <div class="imgds">
    <h2><img src="/img/personal favorites.svg" alt="Check Out My Personal Favorites:"/></h2>
  </div>

  <div class="favorites">

<div class="item">
<a href="https://losquadm1.github.io/historyofweb/">
<h3>History of the Web</h3>
<img src="/img/HistoryOfWeb.png" alt=""/>
</a>
</div>

<div class="item">
<a href="/chami">
<h3>Chami</h3>
<img src="/img/chami.png" alt=""/>
</a>
</div>

<div class="item">
<a href="https://www.uuphost.org/newpaltzwp/">
<h3>UUP Website</h3>
<img src="/img/UUP.png" alt=""/>
</a>
</div>
  </Container>

<Footer/>

</Layout>

<style>
.img{
display: inline;
max-width: 370px
}

.imgds{
max-width:500px;
margin-top: -30px;
filter: drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.15));
}

.favorites{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }

@media (max-width: 1050px){
  .favorites{
  grid-template-columns: auto;
}}

.item img{
  max-width:350px;
  filter: drop-shadow(-10px 10px 5px rgba(0, 0, 0, 0.15));
  transition: 400ms;
}

.hero{
    display: grid;
    grid-template-columns: auto;
    align-content: center;
    justify-content: center;
    text-align: center;
    justify-items:center;
  }

.item img:hover{
  filter: brightness(0.7)
}
</style>