---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
---

<Layout title="Astro Starter">
  <Container>
 <div class="hero">
   <h1>Michael Losquadro</h1>
  <div class="img">
    <img src="public/img/michael Sticky Note 1.png" alt="Sticky Note Drawing of Michael" />
  <div>
  </div>
  <div class="body">
  <div class="img-text">
  <img src="public/img/rippedpaper.png" alt=""/>
  <h2>Check Out Some of My Favorites</h2>

  </div>
  </div>
  </Container>
</Layout>

<style>
.img{
filter: drop-shadow(-10px 10px 10px black .25);
}

.img-text{
filter: drop-shadow(-10px 10px 10px black .25);
}

.hero{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
  }
</style>