---

---
<div class="footer">
    <div class="left">
<p>©2026 Michael Losquadro</p>
    </div>
    
    <div class="right">
<p>Hand Made With <a href="https://astro.build/">Astro</a> 🖥️</p>
    </div>
</div>

<style>
    .footer{
        display: flex;
        width: 100vw;
        justify-content: space-between; 

    padding-top:15px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:10px;
    
}

} 
    .left{
        display: flex;
        justify-content: flex-start;
    }

    .right{
        display: flex;
        justify-content: flex-end;
    }
    
</style>