---

---
<div class="header">
    <div class="left">
<p>Michael Losquadro</p>
    </div>
    
    <div class="right">
<p>
<a href="https://astro.build/">Graphic Design</a>
<a href="https://astro.build/">Web Design</a>
<a href="https://astro.build/">"The Chet Show" Thesis Site</a>
<a href="https://astro.build/">About/Contact</a>
</p>
    </div>
</div>



<style>
.right a{
    color: black;
    text-decoration: none;
    font-style: bold;
}

.right a:hover{
    color: red;
}

    .header{
        display: flex;
        width: 100vw;
        justify-content: space-between; 

    padding-top:15px;
    padding-left:40px;
    padding-right:40px;
    padding-bottom:10px;
    
}

} 
    .left{
        display: flex;
        justify-content: flex-start;
    }

    .right{
        display: flex;
        justify-content: flex-end;
    }
    
</style>