---

---
<div class="header">
    <div class="left">
        <a href="/"> <img src="img/michael Sticky Note 1.png" alt=""/> <p> Home</p></a>
   <!-- <a href="/">Home</a> -->
    </div> 
    
    <div class="right">
<p>
<a href="graphic-design">Graphic Design</a> · 
<a href="web-design">Web Design</a> · 
<a href="the-chet-show">"The Chet Show" Thesis Site</a> · 
<a href="about">About/Contact</a>
</p> 
    </div>
</div>



<style>

.left a:hover{
    color: rgb(255, 164, 164);
}
.left a img{
    padding-top: 15px;
}
.left a{
    display: flex;
    align-items: center
}

.left{
    display: flex;
    flex-direction: row;
}

.left img{
    max-width: 75px;
    transform: rotate(2deg);
}

.header p{
    font-size: 20px;
}
.header a{
    font-weight: 650;
    color: black;
    text-decoration: none;
    font-style: bold;
}

.right a:hover{
    color: red;
}

    .header{
        display: flex;
        width: 100vw;
        justify-content: space-between; 
        align-items: center;

    padding-top:0px;
    padding-left:35px;
    padding-right:35px;
    padding-bottom:10px;
    
}

} 
    .left{
        display: flex;
        justify-content: flex-start;
    }

    .right{
        display: flex;
        justify-content: flex-end;
    }
    
</style>